<div class="container">
    <div class="item">
      <img src="{{ people.picture.thumbnail }}">
    {{ people.name.title }}
    {{ people.name.first }}
    {{ people.name.last }}
    {{ people.gender | uppercase }}
    <img *ngIf="people.dob.age <= 40" [src]="image1">
    <img *ngIf="people.dob.age > 40 && people.dob.age <= 60" [src]="image2">
    <img *ngIf="people.dob.age > 60" [src]="image3">
    </div>
    <div>
    <p>Email: {{ people.email }}</p>
    </div>
    
    <button class="btn" routerLink="/details/{{ people.login.uuid }}">
      Plus d'infos
    </button>
    <br>
    <br>
    <div class="block"></div>
    </div>
